body {
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  text-align: center;
}

.logo img {
  width: 200px;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  transition: all 0.9s ease;
  margin: 10px 5px;
}

.card:hover {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(94, 94, 94);
  color: white;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: linear-gradient(black, rgb(239, 187, 28));
  color: white;
  transform: rotateY(180deg);
  z-index: 2;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  box-shadow: rgba(239, 187, 28, 0.16) 0px 1px 4px,
    rgb(239, 187, 28) 0px 0px 0px 3px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.sta-g {
  color: green;
}

.sta-r {
  color: red;
}
